/* Loading FONT */

@font-face{
    font-family: Elliot_bold;
    src: url(Elliot/FSElliotPro-Bold.otf);
    
}
@font-face{
    font-family: Elliot;
    src: url(Elliot/FSElliotPro-Regular.otf);
    
    
}
@font-face{
    font-family: Elliot_bold_italic;
    src: url(Elliot/FSElliotPro-BoldItalic.otf);
    
    
}

@font-face{
    font-family: Elliot_heavy;
    src: url(Elliot/FSElliotPro-Heavy.otf);
    
    
}

/* Background*/
html{
    background-color: #F9F9F9;
}
section{
    background-color: white;
    padding: 5rem 0;
}
body{
    display: block;
    padding: 0;
    margin: auto;
    max-width: 1440px;
}

#content{
    width: 100%;

}
header{
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
    padding:0;
}


/* Top Menu*/
.cover{

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #FEE01E;
}
.cover div{
    margin:auto;
}
.cover span{
    display: inline-block;
    text-align: center;
    font-family: Elliot_heavy;
    font-size: 7vh;
    color:white;
    width: 100%;
}
.cover img{
    margin: auto;
    margin-bottom: 7vh;
    display: block;
    width: 60%;
}

.header{
    background-color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 3px 5px lightgray;
    display: flex;
    z-index: 2;
}

.header a{
    padding: 0 5px 0 0;
    margin: auto 0;
    text-align: left;
    font-family: Elliot_bold;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

/* Menu Icon*/
.header span{

 margin: auto 20px;
 font-size: 30px;
 font-family: Elliot;
 cursor: pointer;

}


/* Sidemenu*/

#sidebar{
    position: fixed;
    width: 0;
    height: 100%;
    top: 60px;
    left:0;
    background-color: white;
    z-index: 7;
    border-right: solid lightgray 1px;
    transition: 0.5s;
    overflow-x: hidden;
    font-family: Elliot;

}

#sidebar a{
    display: block;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 25px;
    padding: 10px 20px;
    font-family: Elliot;
    
}
#sidebar a:hover{
    color: white;
    background-color: #00258D;
}

#close{
    text-align: right;
    font-size: 40px;
}


/* Content */
.chapter{
    display: flex;
    background-color: #00258D;
    height: 100vh;
}

.chapter span{

    font-family: Elliot_heavy;
    font-size: 10vh;
    color:white;
    margin: auto 7%;
}



.alone{
    margin: 7% ;
}

.alone img{
    display: block;
    width: 80%;
    margin: auto;
}



.underline{
    position: relative;
    float: right;
    border-radius: 10px 0 0 10px;
    display: block;
    width: 97%;
    height: 40px;
    top: -20px;
    background-color: #FEE01E;
    z-index: 1;
}

/* Section Heading */

h1{

    font-family: Elliot_bold;
    font-size: 60px;
    margin: 70px 0 100px  7%;
}

h2{
    position: relative;
    font-family: Elliot_bold;
    font-size: 40px;
    margin: 100px 10px 0 7%;
    z-index: 3;

}

h3{
    font-family: Elliot_bold;
    font-size: 30px;
    margin:50px 0 20px 7%;
}

h4{
    font-family: Elliot_bold;
    font-size: 25px;
    margin: 0 20px 50px 7%;
}

h5{
    font-family: Elliot_bold;
    font-size: 20px;
    margin: 20px 20px 20px 0;
    max-width: 650px;
}
p{
    font-family: Elliot;
    font-size: 16px;
    line-height: 31px;
    margin:0;
}

video{
    width: 100%;
    padding:20px;
}


.content_style_1{
    display:flex;
    margin: 70px 7% 100px 7%;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.content_style_1 div{
    flex: 0 45%;
    
    flex-direction: column;
    justify-content: flex-start;
    
}

.content_style_1 p{
    display:block;
    max-width: 600px;
    margin: 0;
    
}


.content_style_1 img{
    display: block;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    
    
}

.content_style_1 a{
    max-height: 400px;
    overflow: hidden;
}


.content_style_2{
    display: flex;
    flex-direction: column;
    margin: 70px 7% 70px 7%;
}

.content_style_2 .text{
    max-width: 70%;
    margin: 0;
    
}

.content_style_2 img{
    display:block;
    max-width: 80%;
    margin:50px auto;
    border-radius: 10px;
}



.content_style_2 a{

    margin: auto;
    display: inline-block;

}


.content_style_2 h4{
    text-align: center;
}

.content_style_3{
    display: flex;
    flex-wrap: wrap;
    margin: 7%;
}
.content_style_4{
    display: inline-block;
    width: 100%;
}

.content_style_4_span{
    text-align: center;
    font-family: Elliot_bold;
    font-size: 30px;
    display: block;
    margin: 0;
    padding: 15px 0 15px 0;
    background-color: #00258D;
    color: white;
    width: 100%;
}


.content_style_4 img{
    max-width:100%;
    
}

.bigger div{
 width: 80%;
}

.content_left{
    display: block;
    position: relative;
    float: left;
    width: 60%;
    margin-top: 50px;
}
.content_left span{
    border-radius: 0 10px 10px 0;
}
.content_left p{
    margin: 0 0 0 11.7%;
}

.content_right{
    display: block;
    position: relative;
    float: right;
    width: 60%;
    margin-top: 50px;
}

.content_right span{
    border-radius: 10px 0 0 10px;
}

.content_right p{
    margin: 0 11.7% 0 0;
}

.ReadMore{
    padding-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

.more {
    display: none;
}

.text{
    border-radius: 10px;;
    
    flex: 50%;
    
    margin: auto;
    display: flex;
}

.text p{
    margin: auto;
    padding: 20px;

}

.img{

    flex: 50%;
    display: flex;

}

.img img{
    width: 50%;
    margin: auto;
}

.gesetz{
    margin:auto;
    max-width: 90%;
    border-radius: 10px;
    background-color:#00258D;
    color: white;
}
.gesetz ul{
    padding:0;
    margin: auto;
    margin-bottom: 30px;
    list-style: none;
    font-family: Elliot;
    font-size: 18px;
    line-height: 31px;;
    max-width: 80%;
}
.gesetz li{
    margin-bottom: 20px;
}
.gesetz h4{
    margin-top: 30px;
}

.zitat{
    display:inline-block;
    font-family: Elliot_bold_italic;
    font-size: 30px;
    line-height: 50px;
    margin: 40px auto 40px;
    max-width: 900px;
    background-color: #00258D;
    color: white;
    padding: 30px;
    border-radius: 10px;

        
}
.zitat a{
    text-align: right;
    text-decoration: underline;
    font-family: Elliot_bold;
    color: white;
    float:right;
    padding: 0;

}

.themen{
    max-width: 1000px;
    margin: 0 7%;
    display: flex;
    font-family: Elliot_bold;
    flex-wrap: wrap;

}

.thema{
    flex:0 30%;
    display: flex;
    flex-direction: column;
    

}
.thema span{
    text-align: center;
}
.thema img{
    width: 50%;;
    margin: auto;
}
.link{
    padding-top: 10px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

.eindruck{
    position: relative;
    top: -160px;
    border-radius: 10px;
    box-shadow: 0 6px 5px lightgray;
    padding: 45px;
    margin: 0 40px;
    background-color: white;

}
.eindruck h2{
    margin: 0 0 ;
}

.fragen{
    text-align: center;
    list-style-type: none;
    font-family: Elliot_bold_italic;
    font-size: 30px;
    padding: 20px;
    margin: 50px 0;
    
}

.theorie{
    text-align: center;
    list-style-type: none;
    font-family: Elliot_bold;
    font-size: 30px;
    padding: 20px;
    margin: 30px 0;
    
}

#lebenslauf{

    margin-bottom: 30px;
    overflow: hidden;
    overflow-x: scroll;
    
}

#lebenslauf img{
    margin:0;
    height: 60vh;
    max-width: none;
}

.statement{
    margin: 200px;
    display: flex;
    align-content: center;
}
.statement h2{
    margin:auto;
    font-size: 80px;
    text-align: center;
}

.liste{
    flex: 0 50%;
    font-family: Elliot;
    list-style-type: disc;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.liste li{
    margin-bottom: 20px;;
}

#welle{
    display: block;
    position: relative;
    float: right;
    height: 10rem;
    width: 93%;
    background-color: #009EE0;
    border-radius: 0 0 0 100px;
    margin-bottom: 10rem;
}

/* Schaubilder */

.big_reason{
    margin: auto;
    display: block;
    width: 45%;
    justify-content: center;
    font-family: Elliot_bold;
    font-size: 33px;
    text-align: center;
    margin-bottom: 80px;
    background-color: #00258D;
    color: white;
    border-radius: 10px;
    padding: 2rem;

}

.reasons{
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.reasons span{
    flex: 0 30%;
    text-align: center;
    margin-bottom: 80px;

}

.fett{
    font-family: Elliot_bold;
    font-size: 2vh;
    background-color: #009EE0;
    padding: 2rem;
    border-radius: 10px;
    color:white;
    
}

.medium{
    font-family: Elliot;
    background-color: lightblue;
    padding: 2rem;
    border-radius: 10px;
    color: white;

}

.taber{
 margin: auto;
 width: 80%;
}
 /* Style the tab */
 .tab {

    display: flex;
    overflow: hidden;
    
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab a {
    font-family: Elliot_bold;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 10px 10px 0 0;
    
  }
  
  /* Change background color of buttons on hover */
  .tab a:hover {
    background-color: #00258D;
    color: white;
  }
  
  /* Create an active/current tablink class */
  .tab a.active {
    background-color: #00258D;
    color: white;
    transition: ease;
    
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0;
    display: none;
    padding: 12px;
    color: white;
    background-color:#00258D;
    border-radius: 0 10px 10px 10px;
    transition: all 0.2s ease-out;
  } 

  .tabcontent p{
      padding: 20px;
      margin: auto;
  }

/* videplayer styling*/


.videoplayer{
    position: relative;
    width: 50%;
    margin: auto;
    
}

.videoplayer video{
    padding: 0;
    display: block;
    margin: auto;
}

.playbutton {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent black;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
    opacity: 0;
  }
.playbutton:hover {
    border-color: transparent transparent transparent lightgray;
  }


  #Quellen ul{
      margin: 7%;
      font-family: Elliot;
      font-size: 16px;
      line-height: 31px;
      list-style-type: none;
  }

  #Quellen li{
      padding-bottom: 31px;

  }


  .floatingText{
      position: relative;
      margin: 7%;
  }

  .floatingText img{
      position: relative;
      float: right;
      display: block;
      width: 50%;
      top: 0;
      margin: 0 0 1rem 2rem;
      border-radius: 10px;

  }