/* Loading FONT */

@font-face{
    font-family: Elliot_bold;
    src: url(Elliot/FSElliotPro-Bold.otf);
    
}
@font-face{
    font-family: Elliot;
    src: url(Elliot/FSElliotPro-Regular.otf);
    
    
}
@font-face{
    font-family: Elliot_bold_italic;
    src: url(Elliot/FSElliotPro-BoldItalic.otf);
    
    
}

@font-face{
    font-family: Elliot_heavy;
    src: url(Elliot/FSElliotPro-Heavy.otf);
    
    
}

/* Background*/

body{
    padding: 0;
    margin: 0;
}

#content{
    width: 100%;

}
header{
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
    padding:0;
}

section{
    margin-left: 50px;
    max-width: 1440px;
}
/* Top Menu*/
.cover{

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #FEE01E;
}
.cover div{
    margin:auto;
}
.cover span{
    text-align: center;
    font-family: Elliot_heavy;
    font-size: 100px;
    color:white;
    margin-top:  25px;
    width: 100%;
}
.cover img{
    display: block;
    margin-bottom: 25px;
}

.header{
    background-color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 6px 5px lightgray;
    display: flex;
    z-index: 2;
}

.header a{
    flex: 4;
    margin: auto;
    text-align: left;
    font-family: Elliot_bold;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

/* Menu Icon*/
.header span{

 flex:1;
 margin: auto 20px auto;
 font-size: 30px;
 font-family: Elliot;
 cursor: pointer;

}


/* Sidemenu*/

#sidebar{
    position: fixed;
    width: 0;
    height: 100%;
    top: 60px;
    left:0;
    background-color: white;
    z-index: 1;
    border-right: solid lightgray 2px;
    transition: 0.5s;
    overflow-x: hidden;
    font-family: Elliot;
}

a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 0.3s;
    font-size: 25px;
    padding: 10px;
    font-family: Elliot;
    
}
a:hover{
    color: lightgray;
}

#close{
    text-align: right;
    font-size: 40px;
}


/* Content */



img{
 max-width: 80%;
 margin: auto;
}

.alone{
    display: flex;
    margin-bottom: 70px;
}



.underline{
    position: relative;
    border-radius: 10px 0 0 10px;
    display: block;
    width: 100%;
    height: 40px;
    top: -20px;
    background-color: #FEE01E;
    z-index: -1;
}

/* Section Heading */

h1{

    font-family: Elliot_bold;
    font-size: 60px;
    margin: 70px 0 100px 0;
}

h2{
    font-family: Elliot_bold;
    font-size: 40px;
    margin: 100px 10px 0;

}

h3{
    font-family: Elliot_bold;
    font-size: 30px;
    margin:50px 0 20px 0;
}

h4{
    font-family: Elliot_bold;
    font-size: 25px;
    margin: 0 20px 50px 10px;
}

h5{
    font-family: Elliot_bold;
    font-size: 20px;
    margin: 20px 20px 20px 0;
    max-width: 650px;
}
p{
    font-family: Elliot;
    font-size: 16px;
    line-height: 31px;
    margin:0;
}

video{
    max-width:80%;
    margin: auto auto 50px auto;
    border-radius: 10px;;
}


.content_style_1{
    display:flex;
    margin: 70px 0 100px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}

.content_style_1 div{
    flex: 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content_style_1 p{
    display:block;
    max-width: 600px;
    margin: auto 0;
    
}


.content_style_1 img{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    
    
}

.content_style_1 a{
    max-height: 400px;
    overflow: hidden;
}


.content_style_2{
    display: flex;
    flex-direction: column;
    margin: 70px 0 70px 10px;
}

.content_style_2 .text{
    max-width: 70%;
    margin: 0;
    
}

.content_style_2 img{
    display:block;
    max-width: 80%;
    margin:50px auto;
    border-radius: 10px;
}

.content_style_2 div{
    display: flex;
    flex-wrap: wrap;

}

.content_style_2 a{

    margin: auto;
    display: inline-block;

}


.content_style_2 h4{
    text-align: center;
}

.content_style_3{
    display: flex;
    flex-wrap: wrap;
}
.content_style_4{
    display: inline-block;
    width: 100%;
}

.content_style_4_span{
    text-align: center;
    font-family: Elliot_bold;
    font-size: 30px;
    display: block;
    margin: 0;
    padding: 15px 0 15px 0;
    background-color: #00258D;
    color: white;
    width: 100%;
}


.content_style_4 img{
    max-width:100%;
    margin: 20px;
}
.content_left{
    display: block;
    position: relative;
    float: left;
    width: 60%;
}
.content_left span{
    border-radius: 0 10px 10px 0;
}

.content_right{
    display: block;
    position: relative;
    float: right;
    width: 60%;
}

.content_right span{
    border-radius: 10px 0 0 10px;
}

#myBtn1{

    padding-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

#more1 {
    display: none;
}

#myBtn2{

    padding-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

#more2 {
    display: none;
}

#myBtn3{

    padding-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

#more3 {
    display: none;
}
#myBtn4{

    padding-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Elliot_bold;;
}

#more4 {
    display: none;
}

.text{
    border-radius: 10px;;
    
    flex: 50%;
    
    margin: auto;
    display: flex;
}

.text p{
    margin: auto;
    padding: 20px;

}

.img{

    flex: 50%;
    display: flex;

}

.img img{
    width: 50%;
    margin: auto;
}

.gesetz{
    margin:auto;
    max-width: 90%;
    border-radius: 10px;
    background-color: #0031B8;
    color: white;
}
.gesetz ul{
    padding:0;
    margin: auto;
    margin-bottom: 30px;
    list-style: none;
    font-family: Elliot;
    font-size: 18px;
    line-height: 31px;;
    max-width: 80%;
}
.gesetz li{
    margin-bottom: 20px;
}
.gesetz h4{
    margin-top: 30px;
}

.zitat{
    display:inline-block;
    font-family: Elliot_bold_italic;
    font-size: 30px;
    line-height: 50px;
    margin: 40px auto 40px;
    max-width: 900px;
    background-color: #00258D;
    color: white;
    padding: 30px;
    border-radius: 10px;

        
}
.zitat a{
    text-align: right;
    text-decoration: underline;
    font-family: Elliot_bold;
    color: white;
    float:right;
    padding: 0;

}

.eindruck{
    position: relative;
    top: -160px;
    border-radius: 10px;
    box-shadow: 0 6px 5px lightgray;
    padding: 45px;
    margin: 0 40px;
    background-color: white;

}
.eindruck h2{
    margin: 0 0 ;
}

.fragen{
    text-align: center;
    list-style-type: none;
    font-family: Elliot_bold_italic;
    font-size: 30px;
    padding: 20px;
    margin: 50px 0;
    
}

.theorie{
    text-align: center;
    list-style-type: none;
    font-family: Elliot_bold;
    font-size: 30px;
    padding: 20px;
    margin: 30px 0;
    
}

#lebenslauf{
    margin-bottom: 30px;
    overflow: hidden;
    overflow-x: scroll;
}

#lebenslauf img{
    margin:0;
    height: 650px;
    max-width: none;
}

.statement{
    margin: 200px;
    display: flex;
    align-content: center;
}
.statement h2{
    margin:auto;
    font-size: 80px;
    text-align: center;
}

.liste{
    flex: 0 50%;
    font-family: Elliot;
    list-style-type: disc;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.liste li{
    margin-bottom: 20px;;
}

#welle{
    position: relative;
    float: right;
    height: 400px;
    width: 90%;
    background-color: #009EE0;
    border-radius: 0 0 0 150px;;
}

/* Schaubilder */

.big_reason{
    margin: auto;
    display: block;
    width: 45%;
    justify-content: center;
    font-family: Elliot_bold;
    font-size: 33px;
    text-align: center;
    margin-bottom: 80px;
    background-color: #00258D;
    color: white;
    border-radius: 10px;
    padding: 2rem;

}

.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.reasons span{
    flex: 0 28%;
    text-align: center;
    margin-bottom: 80px;

}

.fett{
    font-family: Elliot_bold;
    font-size: 25px;
    background-color: #009EE0;
    padding: 2rem;
    border-radius: 10px;
    color:white;
    
}

.medium{
    font-family: Elliot;
    font-size: 20px;
    background-color: lightblue;
    padding: 2rem;
    border-radius: 10px;
    color: white;

}

/* Slider */

.slider{
    
    display: flex;
     
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

.slider::-webkit-scrollbar {
    display: none;
}
#container_slider{
    display: flex;
    background-color: lightgray;
    padding: 30px 10px 20px;
    border-radius: 10px;;

}
.prev, .next {
    cursor: pointer;

    font-size: 50px;
    text-align: middle;
    margin: auto;
    padding:0;
    
    
  }

.next{
    right:0 ;
}

.slide{
    margin: 0 20px;
    display: flex;
    flex-direction: column;

}

.img_slide{
    display: block;
    width: 500px;
}

.slide span{
    font-family: Elliot;
    text-align: center;  
}


.taber{
 margin: auto;
 width: 80%;
}
 /* Style the tab */
 .tab {

    display: flex;
    overflow: hidden;


    
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab a {
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab a.active {
    background-color: #CCD6F1;
    border-radius: 10px 10px 0 0;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0;
    display: none;
    padding: 50px 12px;
    background-color:#CCD6F1;
    border-radius: 0 10px 10px 10px;
  } 

  .tabcontent p{
      padding: 20px;
      margin: auto;
  }